<footer class="footer text-center">
    <div id="bottom-inner">
      Theme by <a href="https://github.com/microacup/hexo-theme-micorb" target="_blank" style="font-weight: bold">Microb</a> |
      Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>
    </div>
  </footer>